<!DOCTYPE html>
<html lang="">
  <head>
    <title>GitHub Proxy 代理加速</title>
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://jsdelivr.ops.ci/gh/stilleshan/code/websites/ghproxy.com/assets/css/main.css" />
    <link rel="shortcut icon" href="https://jsdelivr.ops.ci/gh/stilleshan/code/websites/ghproxy.com/favicon.ico">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@stilleshan" />
    <meta name="twitter:creator" content="@stilleshan" />
    <meta property="og:url" content="https://ghproxy.com" />
    <meta property="og:title" content="GitHub Proxy 代理加速" />
    <meta property="og:description"
      content="GitHub 文件 , Releases , archive , gist , raw.githubusercontent.com 文件代理加速下载服务." />
    <meta property="og:image" content="https://ghproxy.com/img/ghproxy_com_twitter_800.jpg" />
	  <!-- Twitter Cards -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
      window.ga_tid = "UA-184918992-1";
      window.ga_url = "https://ga.ioiox.com";
    </script>
	  <script src="https://jsdelivr.ops.ci/gh/stilleshan/dockerfiles/ga-proxy/js/ga.min.js" async></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- umami Analytics -->
	  <script async defer data-website-id="9f8bc806-15c6-4901-8c4f-a8db1ce9fdcc" src="https://umami.ioiox.com/umami.js"></script>
    <!-- umami Analytics -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
